@model IEnumerable<SPC.Models.SamplDatas>

@{
    ViewBag.Title = "列表";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Set_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrayIindex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ArrayNUm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_user)
        </th>
        <th>@Html.ActionLink("新增","Create")</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Set_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrayIindex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrayNUm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_user)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("查看", "Details", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
