@model IEnumerable<SPC.Models.Productions>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.depId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_user)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.depId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_user)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
