@model IEnumerable<SPC.Models.Productions>

@{
    ViewBag.Title = "列表";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_time)
        </th>
        <th>@Html.ActionLink("新增","Create")</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DepName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_time)
        </td>
		<td>
			<!-- @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |-->
			@Html.ActionLink("查看", "Details", new { id = item.ID }) |
			@Html.ActionLink("删除", "Delete", new { id = item.ID })
		</td>
    </tr>
}

</table>
