@model IEnumerable<SPC.Models.Projects>

@{
    ViewBag.Title = "列表";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.prd_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ControlItems)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.is_delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.create_time)
        </th>
        <th class="hidden">
            @Html.DisplayNameFor(model => model.create_user)
        </th>
        <th>@Html.ActionLink("新增","Create")</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.prd_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ControlItems)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit)
        </td>
        <td class="hidden">
            @Html.DisplayFor(modelItem => item.is_delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.create_time)
        </td>
        <td class="hidden">
            @Html.DisplayFor(modelItem => item.create_user)
        </td>
		<td>
			<!--@Html.ActionLink("编辑", "Edit", new { id = item.ID }) |-->
			@Html.ActionLink("查看", "Details", new { id = item.ID }) |
			@Html.ActionLink("删除", "Delete", new { id = item.ID })
		</td>
    </tr>
}

</table>
