@model IEnumerable<SPC.Models.SchemaViews>

@{
    ViewBag.Title = "列表";
}>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_delete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.describe)
        </th>
		<th> @Html.ActionLink("Create New", "Create")</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_delete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.describe)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.ID }) |
            @Html.ActionLink("查看", "Details", new { id=item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
